@charset utf-8;
h3 a{
	color: black;
	text-decoration: none;
}
a img{
	width: 1.25rem;
	height: 1.25rem;
}
a svg{
	width: 1.25rem;
	height: 1.25rem;
}
.st0 { fill: #42B883; }
    .st1 { fill: #35495E; }
	#footer{
		background-color: blue;
		color: #efefef;
		padding-bottom: 0rem;
	}
	.main{
		padding-top: 1.25rem;
		padding-bottom: 6.25rem;
	}